@import '../../scss/utils/functions/shadow';

.button{
	height: 1em;
	margin: .5em;
	outline:none;
	padding: .75em;
	width: 7em;
	box-sizing:content-box;
	margin:.25em;

	background:white;
	border:none;
	box-shadow: shadow-three-d();
	cursor:pointer;
	display:inline-block;
	font-family: 'Slabo 27px', serif;
	font-size: 1.5em;
	transition:box-shadow .25s, margin .25s;

	&:hover{
		box-shadow: shadow-three-d(black, white, 10, 5, 120deg);
		margin-left:.40em;
		margin-right:.10em;
	}
}