@import '../../scss/base/functions';
@import '../../scss/base/mixins';
@import '../../scss/base/variables';

.button{
	width: 10em;
	min-height: 1em;
	@include boxy();
	@include boxy-margins();
	@include shadowed();

	cursor:pointer;
	
	font-family: 'Slabo 27px', serif;
	transition:box-shadow .25s, margin .25s;

	&:hover{
		box-shadow: shadow-three-d(black, white, 10, 5, 120deg);
	}
}